body {
  margin: 0 auto;
  max-width: 960px;
  font-family: 'Roboto Mono', monospace;
  background-color: beige;
}
.navbar {
  max-width: none;
}

h1 {
  text-align: center;
}
.section {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: space-between;
    max-width: 25%;
    margin: 0px 0px 0px 0px;
    padding: 25px;
    box-sizing: border-box;
    align-content: center;
}

.foreground {
    background-color:beige;
    margin-bottom: 0px;
    padding-left: 10px;
}

img {
    display: flexbox;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
h1, h2, h3, h4, p {
  display: contents;
}
h4 {
  margin: 5px;
}

img.mainimg {
    margin-top: -17px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;


  background-color: #a8a886;
  color: white;
  text-align: center;
}
.fa {
  padding: 8px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  color: white;
}
.fa-github {
  color: white;
}
.spacer {
  margin-top: 46px;
}
.navbar-light {
  background-color: #a8a886!important;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .section {
        max-width: 100%;
    }
  }

  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .section {
        max-width: 50%;
    }
  }

  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .section {
        max-width: 25%;
    }
  }
